<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Resume - Praneetha</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <h1 class="logo me-auto me-lg-0"><a href="index.html">praneetha</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a class="active" href="{{ url_for('resume') }}">Resume</a></li>
           <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <div class="header-social-links">
        <a href="https://www.linkedin.com/in/praneetha-ganesh" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </header><!-- End Header -->
  <main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Personal Dossier</h4>
              <p><em><B>I am a young undergraduate with keen interest to learn something new every day. Apart from the curriculum, I am much more interested in Web Development and  have done specific projects and internships under that topic.</B></em></p>
              <p>
              <ul>
                <li>Chennai</li>
                <li> +91-94442 59441</li>
                <li>praneethaprani11013@gmail.com</li>
              </ul>
              </p>
            </div>
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor Of Engineering</h4>
              <h5> 2019 - 2023</h5>
              <p><em>Vivekanandha college of engineering for women, Namakkal</em></p>
              <p></p>
            </div>
            <div class="resume-item">
              <h4>XII - 2019 </h4>
              <p><em>CSI Girls Matriculation Higher School, Tirupattur</em></p>
              <p></p>
            </div>
            <div class="resume-item">
              <h4>X - 2017</h4>
              <p><em>CSI Girls matriculation Higher School, Tirupattur </em></p>
              <p></p>
			</div>
			<h3 class="resume-title">Co-Curicular activity</h3>
			  <div class="resume-item">
              <p><B> Diploma in Computer Application(DCA)</B><p>
			  <p><em>Computer Software College(CSC), Tirupattur </em></p>
			  <h5> 2017</h5>
			 </div>
			 <div class="resume-item">
              <p><B> Secretary - GREEN CLUB IGen Green 9 EnSav club</B><p>
			  <p><em>at Vivekanandha College of Engineering for Women </em></p>
			  <h5> 2023</h5>
			 </div>
            	<h3 class="resume-title">Inter-personal Skills</h3>
			  <div class="resume-item">Quick learner
			  </div>
			  <div class="resume-item">Flexibility
			  </div>
			  <div class="resume-item">Solution focus
			</div>


          </div>
			<div class="col-lg-6">
            <h3 class="resume-title">Internship</h3>
		    <div class="resume-item">
			   <p><B>Web Development in Python</B></p>
			   <p><b></b>Uniq Technologies, Coimbatore</b></P>
			   <h5>Feb - 2022</h5>
			   <p><em>In UNIQ Technologies, worked as a web developer in Python Intern and achieved learning HTML, and CSS to create my portfolio during my intern period.</em></p>
            </div>
            <div class="resume-item">
                <p><B>Artificial Intelligence in Python</B></p>
			    <p>Uniq Technologies, Coimbatore</P>
			    <h5>July - 2022</h5>
			    <p><em>Gained knowledge about Artificial Intelligence and Machine learning and did a project.</em></p>
			</div>
			<div class="resume-item">
                <p><B>Software Developer</B></p>
			    <p>Fyniti</P>
			    <h5>Sep - 2023</h5>
			    <p><em>Worked on the backend Python projects along with senior developers for Gen AI-driven tool for financial markets, and Worked with equity analysts in assisting them with the publishing of equity research reports.</em></p>
			</div>
			<div class="resume-item">
			   <p><B>Technical Analyst</B></p>
			   <p>Domex E-data private limited, Chennai</P>
			   <h5>Jan - 2023</h5>
			   <p><em>Read and analyze patents across diverse technologies.</em></p>
            </div>
              <h4 class="resume-title"> Mini projects & Major Projects</h4>
			<div class="resume-item">
			  <h5><u>Shadowing system for Women Safety</u></h5>
			  <p><em>This Project presents a smart wearable device fixed in a woman's hand, when women falls down, the tilt sensor sends information to the microcontroller immediately to access the SOS button.</em></p>
			  </div>
			  <div class="resume-item"><h5><u>Flood Alert System using IoT</u></h5>
			  <p><em>On Detection of Conditions of flooding the system predicts the amount of time it would take to flood in a particular area.</em></p>
			  </div>
			  <div class="resume-item"><h5><u>Types Of Irrigation- School Science Expo</u></h5>
              <p><em>Irrigation is the agricultural process of applying controlled amount of water to land to assist in the production of crops.</em></p>
			  </div>
			  <div class="resume-item"><h5><u>Hydraulic Bridge- College Expo</u></h5>
			  <p><em>The hydraulic bridge is a type of movable bridge with simple pulleys. The principle behind this is Pascal's law.</em></p>
			</div>
          </div>
        </div>
      </div>
    </section><!-- End Resume Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Praneetha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Praneetha</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
</body>
</html>